nodered-tagui-image-search/image_search.json
[
    {
        "id": "b6d490b7.dc158",
        "type": "inject",
        "z": "ab369aa2.7b9b88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "e39bf6a7.25aa78"
            ]
        ]
    },
    {
        "id": "ba5b4039.3e059",
        "type": "function",
        "z": "ab369aa2.7b9b88",
        "name": "",
        "func": "PythonShell.PythonShell.runString(msg.payload, null, function (err, output) {\n    if (err) { node.error(err, msg); return; }\n    msg.payload = output;\n    node.send(msg);\n    node.done();\n});\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "PythonShell",
                "module": "python-shell"
            }
        ],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "d6a0204.be3fbe",
                "40c78aa1.7ae3e4"
            ]
        ]
    },
    {
        "id": "d6a0204.be3fbe",
        "type": "debug",
        "z": "ab369aa2.7b9b88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "1df05556.64a98b",
        "type": "image",
        "z": "ab369aa2.7b9b88",
        "name": "",
        "width": "160",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 340,
        "y": 160,
        "wires": []
    },
    {
        "id": "40c78aa1.7ae3e4",
        "type": "file in",
        "z": "ab369aa2.7b9b88",
        "name": "",
        "filename": "kitten2.png",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "1df05556.64a98b"
            ]
        ]
    },
    {
        "id": "e39bf6a7.25aa78",
        "type": "template",
        "z": "ab369aa2.7b9b88",
        "name": "Python code",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "import rpa as r\nr.init()\nr.url('https://www.google.dk/imghp?hl=en&ogbl')\nr.type('//*[@name=\"q\"]', 'cute kitten[enter]')\nr.wait(2)\nr.snap('//div[@data-ri=\"0\"]', ' kitten2.png')\nr.close()",
        "output": "str",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "ba5b4039.3e059"
            ]
        ]
    },
    {
        "id": "6c9ee265.2474fc",
        "type": "comment",
        "z": "ab369aa2.7b9b88",
        "name": "TagUI Python version",
        "info": "This requires the functionExternalModules to be set to true \n\nIn vanilla Nodered, your ~/.nodered/settings.json \nIn OpenFlow Nodered\nAdd function_external_modules=true in your .env file or docker-compose file.\nIf using openflow provisioning Nodereds, Check the functionExternalModules on the Nodered tab.",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "f3af1605.ec32f8",
        "type": "inject",
        "z": "ab369aa2.7b9b88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "kitten",
        "payloadType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "7dd22cb.07c64d4"
            ]
        ]
    },
    {
        "id": "7dd22cb.07c64d4",
        "type": "tagui tagui",
        "z": "ab369aa2.7b9b88",
        "name": "",
        "headless": false,
        "nobrowser": false,
        "param": true,
        "quiet": true,
        "script": "https://www.google.dk/imghp?hl=en&ogbl\ntype q as `p1`[enter]\nwait 2 sec\nif present('//div[@data-ri=\"0\"]')\n    snap //div[@data-ri=\"0\"] to data/kitten.png\nelse if present('//table//img')\n    snap //table//img to data/kitten.png",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "b70aac26.17577"
            ],
            [],
            []
        ]
    },
    {
        "id": "db71650e.26fae8",
        "type": "image",
        "z": "ab369aa2.7b9b88",
        "name": "",
        "width": "160",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "b70aac26.17577",
        "type": "file in",
        "z": "ab369aa2.7b9b88",
        "name": "",
        "filename": "data/kitten.png",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "db71650e.26fae8"
            ]
        ]
    },
    {
        "id": "8f0c45bc.efe9e8",
        "type": "inject",
        "z": "ab369aa2.7b9b88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "puppies",
        "payloadType": "str",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "7dd22cb.07c64d4"
            ]
        ]
    },
    {
        "id": "da8f73d9.56c67",
        "type": "comment",
        "z": "ab369aa2.7b9b88",
        "name": "TagUI version",
        "info": "requires chrome to be preinstalled.",
        "x": 130,
        "y": 220,
        "wires": []
    }
]